@import "../../colors.scss";

.left-drawer {
  height: 100%;
  display: flex;
  &__select-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50px;
  }
  &__function {
    display: none;
  }
  &__function--active {
    display: block;
    background: $logo2;
    width: 250px;
  }
}
