@import "../../colors.scss";

.left-drawer {
  height: 100%;
  display: flex;
  &__select-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50px;
    // background: $logo2;
  }
  &__function {
    display: none;
  }
  &__function--active {
    display: block;
    background: $logo4;
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .left-drawer {
    flex-direction: column;

    &__select-wrapper {
      flex-direction: row;
      width: 100%;
      height: auto;

      button {
        flex: 1;
        padding: 10px;
      }
    }

    &__function--active {
      width: 100%;
    }
  }
}
