.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main-wrapper {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 70px);
  }

  &__edit-wrapper {
    width: 800px;
    height: 100%;
    margin-left: 8%;
    overflow: scroll;
  }

  &__right-drawer {
    width: 350px;
    height: 100%;
    background: darkorange;
    overflow: scroll;
  }

  &__left-drawer {
    width: 100px;
    height: 100%;
  }
}
body{
  margin: 0;
}