@import "./colors.scss";

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main-wrapper {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 70px);
  }

  &__edit-wrapper {
    height: 100%;
    overflow: scroll;
    width: calc(100vw - 600px);
    display: flex;
    justify-content: center;
    background: rgb(238, 238, 238);

    div {
      &:first-child {
        width: 90%;
      }
      div {
        &:first-child {
          width: -webkit-fill-available;
        }
      }
    }
  }

  &__right-drawer {
    width: 300px;
    height: 100%;
    background: $logo4;
    overflow: scroll;
  }

  &__left-drawer {
    height: 100%;
  }
}
body {
  margin: 0;
}
