/* HSL */
// $color1: hsla(185%, 99%, 63%, 1);
// $color2: hsla(201%, 100%, 65%, 1);
// $color3: hsla(252%, 42%, 36%, 1);
// $color4: hsla(268%, 80%, 24%, 1);
// $color5: hsla(237%, 60%, 37%, 1);

/* RGB */
$color1: rgba(67, 239, 254, 1);
$color2: rgba(76, 191, 255, 1);
$color3: rgba(68, 53, 131, 1);
$color4: rgba(57, 12, 110, 1);
$color5: rgba(38, 44, 151, 1);

/* RGB */
$logo1: rgba(109, 88, 48, 1);
$logo2: rgba(138, 121, 80, 1);
$logo3: rgba(0, 0, 0, 1);
$logo4: rgba(209, 187, 114, 1);
$logo5: rgba(149, 104, 46, 1);
