services:
  - type: web
    name: rocket-rollout-site
    env: static
    buildCommand: cd client && npm install && npm run build
    staticPublishPath: ./client/build
    envVars:
      - key: NODE_VERSION
        value: "18"
      - key: NODE_OPTIONS
        value: "--openssl-legacy-provider"
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
