.render {
  &__options {
    position: fixed;
    display: flex;
    background-color: red;
    height: 5px;
    width: fit-content;
    align-items: center;
    padding: 7px;
  }

  &__icons {
    margin: 1px;
    img {
      height: 20px;
      cursor: pointer;
    }
  }
}
